.forum-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
    /* background-color: #8000ff; */

    .left,
    .right {
        flex: 1;
        max-width: 360px;
        /* background-color: #80ff80; */
    }

    .center {
        width: 100%;
        max-width: 720px;
        display: flex;
        justify-content: center;
        /* background-color: #ff8000; */
        padding: 20px;
        box-sizing: border-box;

        .list-forum-card {
            /* background-color: #ff8080; */
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .control-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                padding: 8px;
                border: 2px solid #374e6e80;
                border-radius: 999px;
                box-sizing: border-box;

                .create-post {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .image {
                        width: 40px;
                        height: 40px;
                        border: 2px solid #374e6e80;
                        box-sizing: border-box;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .btn {
                        color: #fff;
                        background: linear-gradient(90deg, #2563eb, #0891b2);
                    }
                }

                .result {
                    position: relative;
                    width: 40px;
                    height: 100%;
                    text-align: center;
                    align-content: center;
                    box-sizing: border-box;
                    border: 4px solid #374e6e;
                    border-radius: 50%;

                    &::after {
                        content: '';
                        width: 6px;
                        height: 12px;
                        position: absolute;
                        bottom: -6px;
                        left: -4px;
                        background-color: #374e6e;
                        transform: rotateZ(45deg);
                    }
                }

                .filters {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    select {
                        color: #fff;
                        background-color: transparent;
                        border: 2px solid #374e6e80;
                        border-radius: 999px;

                        option {
                            background-color: #0f172a;
                        }
                    }
                }
            }
        }
    }
}