.forum-popup-container {
    position: relative;
    padding: 20px 20px 0;

    .forum-content {

        .questions {
            display: flex;

            .head-block {
                width: 40px;
                height: auto;
                display: flex;
                justify-content: center;
                position: relative;

                .vertical-line {
                    width: 21px;
                    border-left: 2px solid #374e6e;
                    box-sizing: border-box;
                    border-color: #374e6e;
                    position: absolute;
                    right: 0;
                }

                .line-full {
                    top: 0;
                    height: 100%;
                    /* border-color: blue; */
                }

                .line-img {
                    bottom: 0;
                    height: calc(100% - 40px);
                    /* border-color: lime; */
                }

                .no-line {
                    top: 0;
                    height: 0;
                    /* border-color: #ff8000; */
                }

                .horizon-line {
                    width: 21px;
                    height: 20px;
                    border-bottom: 2px solid #374e6e;
                    border-left: 2px solid #374e6e;
                    border-radius: 0 0 0 16px;
                    border-color: #374e6e;
                    /* border-color: #ff0000; */
                    box-sizing: border-box;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .next-reply {
                flex: 1;
            }
        }
    }

    .content {
        word-break: break-all;
        display: flex;
        gap: 8px;

        .image {

            img {
                width: 40px;
                height: 40px;
                max-width: 40px;
                max-height: 40px;
                min-width: 40px;
                min-height: 40px;
                border: 2px solid #374e6e80;
                box-sizing: border-box;
                border-radius: 50%;
            }
        }

        .name-comment {
            padding: 4px 12px;
            box-sizing: border-box;
            background: #0f172ab3;
            border: 2px solid #374e6e80;
            border-radius: 12px;
            transition: .1s;

            &:hover {
                border-color: #3b82f666;
                background: #3b82f620;
                box-shadow: 0 0 20px 8px #3b82f633;
            }

            &.my-comment {
                border-color: #3b82f666;
                background: #3b82f640;

                &:hover {
                    background: #3b82f660;
                }
            }

            .name {
                /* white-space: nowrap; */
                font-size: 18px;
                font-weight: bold;
            }
        }

        .commentdate-btn {
            margin: 2px 0 10px 20px;
            display: flex;
            color: var(--text-secondary);
            font-size: 12px;
            font-weight: 600;
            gap: 20px;

            .btn {
                padding: 0;
                font-size: 12px;
                background-color: transparent;
                color: var(--text-secondary);

                &.btn-takedown {
                    color: var(--red-light);
                }
            }
        }

        &.input-reply,
        &.input-comment {

            &.input-comment {
                word-break: keep-all;
                position: sticky;
                bottom: 0;
                background-color: #0f172a;
                box-shadow: 0 0 12px 12px #0f172a;
                z-index: 1;
            }

            .comment-area {
                flex: 1;
                display: flex;
                gap: 8px;
                height: fit-content;

                .btn {
                    height: 40px;
                    color: #fff;
                    background: linear-gradient(to right, #3b82f6, #06b6d4);
                }
            }
        }
    }
}