.style-label-select-container {
    flex: 1;
    position: relative;
    height: 42px;

    select {
        width: 100%;
        padding: 8px 4px;
        font-size: 16px;
        text-align: center;
    }

    label {
        color: var(--text-secondary);
        width: fit-content;
        white-space: nowrap;
        padding: 0 4px;
        position: absolute;
        font-weight: bold;
        pointer-events: none;

        top: -8px;
        background: var(--gray-2);
        box-shadow: 0 0 0 2px var(--gray-3);
        border-radius: 10px;
        font-size: 12px;

        &.center {
            left: 50%;
            transform: translateX(-50%);
        }

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }
    }

    select:focus+label {
        box-shadow: 0 0 0 2px var(--gray-4);
    }
}