.style-label-select-container {
    flex: 1;
    position: relative;
    height: 42px;

    .select {
        width: 100%;
        padding: 8px 4px;
        font-size: 16px;
        color: var(--text-primary);
        background: var(--gray-2);
        border: 2px solid var(--gray-3);

        &:focus {
            border-color: var(--gray-4);
        }
    }

    .option {
        color: var(--text-primary);
        background-color: #0f172a;
    }

    label {
        position: absolute;
        width: fit-content;
        padding: 2px 8px;
        color: var(--text-secondary);
        font-weight: bold;
        white-space: nowrap;
        pointer-events: none;
        transition: all 0.15s ease;

        top: -12px;
        background: var(--gray-2);
        box-shadow: inset 1.8px 1.8px 0px var(--gray-3);
        border-radius: 8px 8px 0 0;
        font-size: 12px;

        &.left {
            left: 0px;
        }

        &.center {
            padding: 2px 8px 0;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
        }

        &.right {
            box-shadow: inset -1.8px 1.8px 0px var(--gray-3);
            right: 0px;
        }
    }

    select:focus+label {
        box-shadow: inset 1.8px 1.8px 0px var(--gray-4);

        &.right {
            box-shadow: inset -1.8px 1.8px 0px var(--gray-4);
        }
    }
}