.answer-container {
    font-size: 14px;
    min-width: 540px;
    height: fit-content;
    background: #0f172ab3;
    border: 2px solid #68FCFF;
    border-radius: 12px;
    box-sizing: border-box;

    .content {
        padding: 12px 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .time {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            h2 {
                font-size: 1.5rem;
            }
        }

        .questions {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 4px;

            .question-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 12px;
                padding: 4px;
                color: var(--text-secondary);
                border: 1px solid #68FCFF;
                box-sizing: border-box;
                border-radius: 8px;
                user-select: none;
                cursor: not-allowed;

                &.none {
                    color: #fff;
                    border-color: #f97316;
                    background: #fb923c1f;
                    box-shadow: 0 0 0 1px #fb923c47;
                }

                &.full {
                    color: #fff;
                    background: #3b82f640;
                }

                &.selected {
                    padding: 3px;
                    border-width: 2px;
                    background: #3b82f6aa;
                }

                .index {
                    margin: 0 0 0 4px;
                    width: 20px;
                }

                .answers {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    gap: 4px;
                    max-width: 108px;
                    flex-wrap: wrap;

                    .answer-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .btn {
                            width: 24px;
                            height: 24px;
                            padding: 0;
                            font-size: 12px;
                            text-align: center;
                            box-sizing: border-box;

                            position: relative;
                            color: #80FCFF;
                            background-color: transparent;
                            border: 1px solid #68FCFF;
                            box-shadow: 0 0 6px #38BDF899;
                            transition: all 0.1s ease;
                            overflow: hidden;

                            &:hover {
                                background-color: #38BDF8;
                                box-shadow: 0 0 12px #0EA5E9;
                                border: 2px solid #68FCFF;
                            }

                            &.btn-selected {
                                border-width: 2px;
                                background-color: #38BDF899;
                                box-shadow: 0 0 12px #0EA5E9;

                                &:hover {
                                    background-color: #38BDF8;
                                    border: 2px solid #68FCFF;
                                }
                            }
                        }
                    }
                }
            }
        }

        .btn-end {
            width: 100%;
            color: #fff;
            background: linear-gradient(90deg, #2563eb, #0891b2);
        }
    }
}