.user-header-container {
    /* display: none; */
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 80px;
    backdrop-filter: blur(14px);
    background: #0f172ad9;
    border-bottom: 1px solid #1e293b;

    .nav-wrapper {
        margin: auto;
        height: 100%;
        padding: 1rem 1.5rem;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        a {
            display: flex;
            align-items: center;
            gap: 0.8rem;

            .logo {
                width: 60px;
                height: 48px;
                border-radius: 8px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .logo-text {
                font-size: 1.6rem;
                font-weight: 800;
                background-clip: text;
                background: linear-gradient(to right, #60a5fa, #22d3ee);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .nav-links {
            display: flex;
            gap: 0.4rem;

            .nav-item {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.6rem 1rem;
                border-radius: 12px;
                text-decoration: none;
                color: #94a3b8;
                font-weight: 600;
                font-size: 0.9rem;
                transition: 0.3s;

                &:hover {
                    color: var(--text-primary);
                    background: rgba(30, 41, 59, 0.6);
                }

                &.active {
                    background: rgba(37, 99, 235, 0.2);
                    color: #60a5fa;
                    border: 1px solid rgba(37, 99, 235, 0.4);
                    box-shadow: 0 0 20px rgba(37, 99, 235, 0.2);
                }
            }
        }

        .user-profile-link {
            position: relative;
            display: flex;
            align-items: start;
            gap: 8px;
            cursor: pointer;

            .avatar {
                width: 44px;
                height: 44px;
                min-width: 44px;
                min-height: 44px;
                border-radius: 50%;
                border: 2px solid #80808080;
                box-sizing: border-box;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .name-role {

                .name {
                    width: fit-content;
                    max-width: 200px;
                    color: var(--text-primary);
                    /* background-color: #ff8000; */
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .role {
                    color: var(--text-secondary);
                    /* background-color: #ff8080; */
                    font-size: .75rem;
                }
            }

            .list-button {
                position: absolute;
                top: 120%;
                right: 0;
                display: flex;
                flex-direction: column;
                gap: 4px;
                z-index: 1;

                .item {
                    padding: 8px 20px;
                    min-width: 140px;
                    color: #80FCFF;
                    background: #38BDF899;
                    backdrop-filter: blur(4px);
                    border: 2px solid #68FCFF;
                    box-shadow: 0 0 6px #38BDF899, inset 0 0 6px #38BDF899;
                    text-shadow: 0 0 8px #38BDF899;

                    &:last-child {
                        border-radius: 0 0 20px 20px;
                        border-top-right-radius: 8px;
                        border-top-left-radius: 8px;
                    }

                    &:first-child {
                        border-radius: 20px 20px 0 0;
                        border-bottom-right-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }

                    &:hover {
                        background: #38BDF8;
                        box-shadow: 0 0 12px #0EA5E9;
                    }

                    &.off {
                        opacity: 0.4;
                    }
                }
            }
        }

        .login-btn {
            color: #fff;
            background: linear-gradient(90deg, #2563eb, #0891b2);
            display: flex;
            align-items: center;
            gap: 12px;
        }

        .mobile-toggle {
            display: none;
        }
    }

    .mobile-menu {
        display: none;
    }
}

@media (max-width: 992px) {
    .user-header-container {
        .nav-wrapper {

            .nav-links,
            .user-profile {
                display: none;
            }

            .mobile-toggle {
                display: block;
                background: none;
                border: none;
                color: #fff;
                cursor: pointer;
            }
        }

        .mobile-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 4px;
            padding: 8px;
            backdrop-filter: blur(200px);
            background: #0f172ad0;
            border-top: 1px solid #314461;
            border-bottom: 1px solid #314461;

            a {
                width: 100%;
                color: var(--text-secondary);

                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.6rem 1rem;
                border-radius: 12px;
                text-decoration: none;
                color: #94a3b8;
                font-weight: 600;
                font-size: 0.9rem;
                transition: 0.3s;
                box-sizing: border-box;

                &:hover {
                    color: var(--text-primary);
                    background: rgba(30, 41, 59, 0.6);
                }

                &.active {
                    background: rgba(37, 99, 235, 0.2);
                    color: #60a5fa;
                    border: 1px solid rgba(37, 99, 235, 0.4);
                    box-shadow: 0 0 20px rgba(37, 99, 235, 0.2);
                }
            }
        }
    }
}