.core-learning-container {
    display: flex;
    justify-content: center;
    gap: 20px;

    .question-card {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .card {
            padding: 20px 40px;
            background-color: #eee;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            max-height: 600px;
            overflow-y: scroll;
            scrollbar-width: none;

            .title {
                font-size: 20px;

                .index {
                    font-weight: bold;
                    margin: 0 0 4px;
                }
            }

            .grid-answer {
                display: grid;
                grid-template-columns: repeat(1, minmax(0, 1fr));
                gap: 12px;

                .btn {
                    padding: 12px 20px;
                    text-align: start;
                }
            }

            .explanation {
                padding: 12px;
                background-color: #ddd;
                border-radius: 12px;
            }
        }

        .btns {
            display: flex;
            justify-content: space-between;

            .btn {
                padding: 8px 32px;
            }
        }
    }
}