.flip-card-container {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    flex: 1;

    .cards {
        width: 100%;
        height: 500px;
        background-color: aliceblue;
        position: relative;
        overflow: hidden;

        .card {
            width: 80%;
            height: calc(100% - 40px);
            transform-style: preserve-3d;
            perspective: 1000px;
            transition: all 0.3s ease;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .face {
                width: 100%;
                height: 100%;
                padding: 20px 40px;
                position: absolute;

                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: center;

                backface-visibility: hidden;
                scrollbar-width: none;
                overflow-y: scroll;

                border-radius: 20px;
                box-sizing: border-box;
                font-size: 24px;
                cursor: pointer;
                transition: all 0.3s ease;

                .content {
                    margin: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &.front {
                    background: lightblue;

                    &.flipped {
                        transform: rotateX(180deg);
                    }

                    .question-content {
                        margin: 0 0 20px;
                    }
                }

                &.back {
                    background: lightcoral;
                    transform: rotateX(180deg);

                    &.flipped {
                        transform: rotateX(360deg);
                    }
                }
            }

            &.left {
                opacity: 0;
                transform: translate(-200%, -50%);

                .face {

                    .front,
                    .back {
                        background-color: yellow;
                    }
                }
            }

            &.right {
                opacity: 0;
                transform: translate(100%, -50%);

                .face {

                    .front,
                    .back {
                        background-color: yellow;
                    }
                }
            }
        }
    }

    .btn {
        padding: 28px;

        &.btn-left {
            border-radius: 16px 0 0 16px;
        }

        &.btn-right {
            border-radius: 0 16px 16px 0;
        }
    }
}

@keyframes flip_card_appear {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes flip_card_faded {
    0% {
        opacity: 0;
        transform: rotateX(90deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}