.list-grid-button-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 4px;
    height: fit-content;

    .btn-selected {
        background-color: var(--green-light);
    }
}