.traffic-sign-flip-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .action-controls {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        z-index: 1;

        .btns {
            display: flex;
            gap: 8px;

            .btn {
                color: #fff;
                background: linear-gradient(90deg, #2563eb, #0891b2);
            }
        }
    }

    .flip-book-wrapper {
        width: 100%;
        height: 800px;

        .page-item {
            height: 100%;
            padding: 12px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .page-number {
                color: #281510;
                /* background-color: #ff00ff80; */

                &.page-even {
                    text-align: start;
                }

                &.page-odd {
                    text-align: end;
                }
            }

            &.first-page,
            &.last-page {
                /* background: #5E3320; */
                color: #CCA373;
                background: radial-gradient(circle, #5E3320 70%, #3f1c0f);
                box-shadow: inset 0 0 40px 8px #3f1c0f;

                .first-page-content {
                    margin: 100px 0 0;

                    h1 {
                        text-align: center;
                        font-size: 5rem;
                        font-family: 'Times New Roman', Times, serif;
                    }

                    p {
                        text-align: center;
                        font-size: 2.5rem;
                        font-family: 'Times New Roman', Times, serif;
                    }
                }
            }

            &.near-first-page,
            &.near-last-page {
                background-color: #fff6e2;
                box-shadow: inset 0 0 40px 4px #977859bb;
            }

            .list-signs {
                padding: 28px 0 0;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .sign-card {
                    padding: 0 12px;
                    display: flex;
                    gap: 20px;
                    /* background-color: #cccccc; */

                    .sign-image {
                        width: 72px;
                        height: fit-content;
                        min-width: 72px;

                        img {
                            width: 100%;
                        }
                    }

                    .sign-information {
                        flex: 1;

                        h2 {
                            margin: 0 0 4px;
                            color: #281510;
                            font-size: .875rem;
                            font-weight: 800;
                        }

                        p {
                            /* margin: 0 0 8px; */
                            color: #78625C;
                            font-size: .75rem;
                            font-weight: 500;

                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}