.user-create-exam-container,
.user-create-situation-exam-container {
    display: flex;

    .create-content,
    .result-content {
        padding: 20px;
        width: 640px;
        box-sizing: border-box;
        max-height: 70vh;
        overflow-y: scroll;
    }

    .line {
        width: 2px;
        height: auto;
        background-color: #374e6e80;
    }

    .btn {
        color: #fff;
        background: linear-gradient(90deg, #2563eb, #0891b2);
    }

    .create-content {
        scrollbar-width: none;

        .totalquestions-selectlicense {
            margin: 0 0 12px;
            display: flex;
            gap: 20px;

            .form-group {
                flex: 1;
            }
        }

        .list-chapter {
            h2 {
                margin: 0 0 8px;
            }

            .chapter-item {
                margin: 0 0 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 12px;

                .form-group {
                    position: relative;
                    flex: 1;

                    &.form-group-input {
                        max-width: 80px;
                    }

                    select {
                        width: 100%;
                        padding: 8px 4px;
                        font-size: 16px;
                        color: var(--text-primary);
                        background: var(--gray-2);
                        border: 2px solid var(--gray-3);

                        &:focus {
                            border-color: var(--gray-4);
                        }

                        option {
                            color: var(--text-primary);
                            background-color: #0f172a;
                        }
                    }

                    input {
                        width: 100%;
                        padding: 8px 12px;
                        font-size: 16px;
                        color: var(--text-primary);
                        background: var(--gray-2);
                        border: 2px solid var(--gray-3);

                        &:focus {
                            border-color: var(--gray-4);
                        }
                    }

                    label {
                        position: absolute;
                        right: 12px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: fit-content;
                        color: var(--text-secondary);
                        font-weight: bold;
                    }
                }
            }
        }

        .total-percent {
            text-align: center;
            margin: 20px 0;
            padding: 12px;
            border-radius: 10px;
            font-size: 1.5rem;

            span {
                font-weight: bold;
            }

            &.valid {
                color: #fff;
                border: 2px solid #22c55e;
                background-color: #22c55e33;
            }

            &.invalid {
                color: #ef4444;
                border: 2px solid #ef4444;
                background-color: #ef444433;
            }
        }

        .btns {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .btn {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
            }
        }
    }

    .result-content {
        padding-right: 8px;

        .result-heading {
            margin: 0 0 20px;
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .delete-btn {
                background: #ca3333;
            }
        }

        .list-question {
            display: flex;
            flex-direction: column;
            gap: 20px;
            transition: .15s ease;

            &.not-show {
                filter: blur(8px);
            }

            .question-item {
                padding: 12px 20px;
                background: #3b82f620;
                border: 2px solid #2f5099;
                border-radius: 12px;

                .title-heading {
                    margin: 0 0 4px;
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;

                    h3 {
                        margin: 0;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        gap: 12px;
                    }

                    .chapter {
                        width: fit-content;
                        height: fit-content;
                        padding: 4px 8px;
                        color: #fff;
                        border: 1px solid #3b82f666;
                        border-radius: 999px;
                        font-size: .75rem;
                    }
                }

                p {
                    margin: 0 0 12px;
                }

                .list-answer {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .answer-item {
                        padding: 6px 12px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 20px;
                        color: #fff;
                        border: 2px solid #2f5099;
                        border-radius: 8px;
                        overflow-wrap: break-word;
                        word-break: break-word;

                        &.correct-answer {
                            border-color: #22c55e;
                        }
                    }
                }
            }
        }
    }
}