.progress-bar-container {
    width: 100%;

    .bar {
        height: 20px;
        background: #e5e7eb;
        border-radius: 8px;
        position: relative;
        border-radius: 200px;
        overflow: hidden;

        .label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 600;
            z-index: 1;
        }

        .fill {
            height: 100%;
            position: relative;
            overflow: hidden;
            transition: width 0.4s ease, background-color 0.4s ease;
        }

        .lost {
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            overflow: hidden;
            background-color: #e5e7eb;
            transition: width 0.4s ease, background-color 0.4s ease;
            z-index: 1;
        }

        .light {
            position: absolute;
            top: 0;
            transform: translateX(-100%);
            width: 30px;
            height: 100%;
            background: linear-gradient(90deg,
                    transparent,
                    rgba(255, 255, 255, 0.8),
                    transparent);
            animation: light-move 2s linear infinite;
            /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        }
    }
}

@keyframes light-move {
    0% {
        left: calc(-10% - 200px);
    }

    80% {
        left: calc(100% + 200px);
    }

    100% {
        left: calc(100% + 200px);
    }
}