.answer-container {
    font-size: 14px;
    border: 4px solid #007bff;
    height: fit-content;

    .content {
        padding: 12px 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        background-color: #fff;

        .time {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .title {
                box-sizing: border-box;
                font-size: 24px;
                text-align: center;
                background-color: #fff;
            }
        }

        .questions {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 4px;

            .question-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 12px;
                padding: 4px;
                background-color: #eee;
                border: 1px solid #aaa;
                border-radius: 8px;
                cursor: pointer;

                &.selected {
                    background-color: #aaa;
                }

                .index {
                    margin: 0 0 0 4px;
                    width: 20px;
                }

                .answers {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 4px;
                    max-width: 108px;
                    flex-wrap: wrap;

                    .answer-item {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .btn {
                            width: 24px;
                            height: 24px;
                            padding: 0;
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .btn-end {
            width: 100%;
        }
    }
}