.question-container {
    flex: 1;

    .questions {
        padding: 40px;
        border: 4px solid #007bff;
        height: 100%;
        max-height: 60vh;
        box-sizing: border-box;
        overflow-y: scroll;
        scrollbar-width: none;

        .question-item {

            .index {
                margin: 0 0 20px;
                color: #ff0000;
                font-size: 40px;
            }

            .answers {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .answer-item {
                    font-size: 24px;
                }
            }
        }
    }
}