.message-preview {
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 300px;
    height: fit-content;
    padding: 8px 16px;
    color: #68FCFF;
    background-color: #48939bee;
    border: 2px solid #68FCFFFF;
    border-radius: 8px 0 8px 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 16px #00000080;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: messagePreviewFadeInOut 5s ease forwards;
}

@keyframes messagePreviewFadeInOut {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    10%,
    90% {
        opacity: 1;
        transform: translateX(0);
    }

    20%,
    40%,
    60%,
    80% {
        opacity: 0.7;
    }

    30%,
    50%,
    70% {
        opacity: 1;
    }

    /* 30%,
    70% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    } */

    100% {
        opacity: 0;
        transform: translateX(10px);
    }
}