.moving-label-input-container {
    flex: 1;
    position: relative;
    height: 42px;

    .input {
        width: 100%;
        padding: 8px 12px;
        font-size: 16px;
        color: var(--text-primary);
        background: var(--gray-2);
        border: 2px solid var(--gray-3);

        &:focus {
            border-color: var(--gray-4);
        }
    }

    label {
        position: absolute;
        width: fit-content;
        padding: 0 4px;
        color: var(--text-secondary);
        font-weight: bold;
        white-space: nowrap;
        pointer-events: none;
        transition: all 0.2s ease;

        &.stay {
            padding: 2px 8px;
            opacity: 1;
            top: -12px;
            background: var(--gray-2);
            font-size: 12px;
            border-radius: 8px 8px 0 0;
            box-shadow: inset 1.8px 1.8px 0px var(--gray-3);

            &.left {
                left: 0px;
            }

            &.center {
                padding: 2px 8px 0;
                top: -15px;
                left: 50%;
                transform: translateX(-50%);
            }

            &.right {
                box-shadow: inset -1.8px 1.8px 0px var(--gray-3);
                right: 0px;
            }
        }

        &.moving {
            top: 10px;
            left: 12px;
            opacity: 0.4;

            &.left {
                left: 12px;
            }

            &.center {
                left: 12px;
            }

            &.right {
                left: 12px;
                right: 0;
            }
        }
    }

    input:focus+.moving,
    input:not(:placeholder-shown)+.moving {
        padding: 2px 8px;
        opacity: 1;
        top: -12px;
        background: var(--gray-2);
        font-size: 12px;
        border-radius: 8px 8px 0 0;
        box-shadow: inset 1.8px 1.8px 0px var(--gray-4);

        &.left {
            left: 0px;
        }

        &.center {
            left: 50%;
            transform: translateX(-50%);
            padding: 2px 8px 0;
            top: -15px;
        }

        &.right {
            left: 100%;
            right: 0;
            transform: translateX(-100%);
            box-shadow: inset -1.8px 1.8px 0px var(--gray-4);
        }
    }

    input:focus+.stay,
    input:not(:placeholder-shown)+.stay {
        box-shadow: inset 1.8px 1.8px 0px var(--gray-4);

        &.right {
            box-shadow: inset -1.8px 1.8px 0px var(--gray-4);
        }
    }

    input:not(:placeholder-shown) {
        border-color: var(--gray-4);
    }

    input:disabled+.stay {
        opacity: 0.4;
    }
}