.exam-detail-container {
    .name {
        height: 140px;
        align-content: end;
        padding: 20px;
        background: linear-gradient(135deg, #2563eb, #0891b2);
        color: #fff;

        h2 {
            font-weight: bold;
            margin: 0 0 8px;
        }

        p {
            font-size: .875rem;
        }
    }

    .detail {
        padding: 20px;
        color: #94a3b8;
        background-color: #0f172abb;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .information {
            display: flex;
            justify-content: space-between;
            gap: 12px;

            .item {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px;
                gap: 12px;
                border-radius: 8px;
                background-color: #2a395cbb;

                i {
                    color: #fff;
                    font-size: 1.25rem;
                }

                .value {
                    font-size: .875rem;
                }
            }
        }

        .note {
            padding: 16px;
            background-color: #211E1E;
            border-radius: 8px;
            color: #64748b;
            border: 1px solid #f59e0b80;

            h3 {
                margin: 0 0 8px;
                color: #fbbf24;
                font-size: .875rem;
            }

            p {
                color: #fde68acc;
                font-size: .75rem;
            }
        }

        .limit {
            font-size: .875rem;

            &.limited {
                color: #f87171;
            }
        }

        .btn {
            width: 100%;
            padding: 12px;
            color: #fff;
            background: linear-gradient(90deg, #2563eb, #0891b2);
            border-radius: 8px;
        }
    }

    &.situation {
        .name {
            background: linear-gradient(135deg, #e43efa, #9008b2);
        }

        .detail {
            color: #94a3b8;
            background-color: #0f172abb;

            .information {
                .item {
                    background-color: #2a395cbb;
                }
            }

            .btn {
                background: linear-gradient(135deg, #e43efa, #9008b2);
            }
        }
    }
}