.exam-session-container {
    padding: 20px;
    background-color: #2a395c80;

    h3 {
        margin: 0 0 12px;
        color: #94a3b8;
    }

    .list-session {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-height: 400px;
        overflow-y: scroll;
        padding: 12px 12px 0 0;

        .session-item {
            position: relative;
            padding: 12px 16px;
            color: #94a3b8;
            background-color: #19223C;
            border-top: 2px solid #94a3b8;
            border-left: 2px solid #94a3b8;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            opacity: 0;
            animation: slideInUp .6s ease forwards;

            .date {
                position: absolute;
                font-size: .75rem;
                top: -12px;
                left: -2px;
                padding: 2px 8px;
                border-radius: 8px 8px 0 0;
                background-color: #19223C;
                border-top: 2px solid #94a3b8;
                border-left: 2px solid #94a3b8;
            }

            .score,
            .time {
                width: 60px;
            }

            .time {
                display: flex;
                align-items: center;
                gap: 8px;
            }

            .fa-check-circle {
                color: #22c55e;
            }

            .fa-xmark-circle {
                color: #ef4444;
            }

            .view-detail {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: .75rem;
                border-bottom: 1px solid #94a3b8;

                span {
                    color: #94a3b8;
                }

                i {
                    color: #fff;
                }
            }
        }
    }
}