.cube-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;

    .scene-cube {
        width: fit-content;
        height: fit-content;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        /* transform: scale(5); */

        filter: drop-shadow(0 0 20px var(--color1));

        --Distance: 80px;
        --Angle: 54.74deg;

        .cube {
            position: relative;
            width: var(--Distance);
            height: var(--Distance);
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            animation: cube_rotate 3s linear infinite;

            display: flex;
            justify-content: center;
            align-items: center;

            .face {
                position: absolute;
                width: var(--Distance);
                height: var(--Distance);
                background: var(--color2);
                color: #4abdbe;
                transition: all 1s ease;

                box-sizing: border-box;
                border: 2px solid #68FCFFFF;

                display: flex;
                justify-content: center;
                align-items: center;

                user-select: none;
                font-size: 2rem;
                cursor: pointer;
            }

            .f1 {
                transform: rotateZ(0deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(calc(var(--Distance) / 2));
            }

            .f2 {
                transform: rotateZ(120deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(calc(var(--Distance) / 2));
            }

            .f3 {
                transform: rotateZ(240deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(calc(var(--Distance) / 2));
            }

            .f4 {
                transform: rotateY(180deg) rotateZ(60deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(calc(var(--Distance) / 2));
            }

            .f5 {
                transform: rotateY(180deg) rotateZ(180deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(calc(var(--Distance) / 2));
            }

            .f6 {
                transform: rotateY(180deg) rotateZ(300deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(calc(var(--Distance) / 2));
            }
        }
    }
}

@keyframes cube_rotate {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(360deg);
    }
}