.cube-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 600px;

    .scene-cube {
        width: fit-content;
        height: fit-content;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;

        filter: drop-shadow(0 0 20px var(--color1));

        --Distance: 80px;
        --Angle: 54.74deg;

        .cube {
            position: relative;
            width: var(--Distance);
            height: var(--Distance);
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(60deg) rotateZ(0deg);
            animation: cube_rotate 3s linear infinite;

            display: flex;
            justify-content: center;
            align-items: center;

            .face {
                position: absolute;
                width: var(--Distance);
                height: var(--Distance);
                background: var(--color2);
                color: #4ABDBE;
                transition: all 1s ease;

                box-sizing: border-box;
                border: 2px solid #68FCFFFF;

                display: flex;
                justify-content: center;
                align-items: center;

                user-select: none;
                font-size: 2rem;
                cursor: pointer;
            }

            .f1 {
                transform: rotateZ(0deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(calc(var(--Distance) / 2));
            }

            .f2 {
                transform: rotateZ(120deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(calc(var(--Distance) / 2));
            }

            .f3 {
                transform: rotateZ(240deg) rotateX(var(--Angle)) rotateZ(135deg) translateZ(calc(var(--Distance) / 2));
            }

            .f4 {
                transform: rotateY(180deg) rotateZ(60deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(calc(var(--Distance) / 2));
            }

            .f5 {
                transform: rotateY(180deg) rotateZ(180deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(calc(var(--Distance) / 2));
            }

            .f6 {
                transform: rotateY(180deg) rotateZ(300deg) rotateX(var(--Angle)) rotateZ(45deg) translateZ(calc(var(--Distance) / 2));
            }
        }
    }

    .scene-object {
        width: fit-content;
        height: fit-content;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;

        filter: drop-shadow(0 0 20px var(--color1));

        .object {
            /* transition: all 0.1s ease; */
            position: relative;
            width: fit-content;
            height: fit-content;
            transform-style: preserve-3d;
            transition: all 1s ease;
            transform: rotateX(0deg) rotateY(60deg) rotateZ(0deg);
            animation: rotate_1x_2y 10s linear infinite;

            display: flex;
            justify-content: center;
            align-items: center;

            .face-svg,
            .dot-svg,
            .vector-svg,
            .line-svg {
                position: absolute;
                overflow: initial;

                transform-style: preserve-3d;
                transition: all 1s ease;

                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
                cursor: pointer;
            }
        }
    }
}

@keyframes cube_rotate {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(360deg);
    }
}

@keyframes rotate_1x_2y {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(450deg) rotateZ(720deg);
    }
}