#root {
  width: 100%;
}

:root {
  --font:
    'Inter',
    Consolas,
    Menlo,
    Monaco,
    monospace,
    Arial;

  --green: #52c41a;
  --green-light: #9fed78;
  --green-dark: #398712;

  --yellow: #faad14;
  --yellow-light: #fccb69;
  --yellow-dark: #966503;

  --red: #ff4d4f;
  --red-light: #ff8082;
  --red-dark: #cc0003;

  --blue: #007bff;
  --blue-light: #007bff;
  --blue-dark: #007bff;
}

body {
  /* background-color: var(--gray-1); */
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

a {
  outline: none;
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}

input,
textarea,
select {
  outline: none;
  height: 100%;
  padding: 8px 12px;
  /* border: 2px solid var(--text-secondary); */
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease;
  font-family: var(--font);

  &:disabled {
    opacity: 0.4;
  }
}

input::placeholder {
  /* color: var(--text-primary); */
}

select {
  cursor: pointer;
  padding: 6px 12px;
}

button {
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease;
  font-family: var(--font);

  &:disabled {
    opacity: 0.4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #007bff80;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #007bff;
}

::-webkit-scrollbar-thumb:hover {
  background: #0068d8;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper,
input[type='color']::-webkit-color-swatch {
  -webkit-appearance: none;
  padding: 0;
  border: none;
}

input[type='file']::-webkit-file-upload-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: #4caf50;
}

::selection {
  background: #007bff;
  color: #fff;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #007bff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

video::-webkit-media-controls-play-button {
  display: none;
}

.glow {
  /* color: var(--accent); */
  text-shadow: 0 0 8px #38bdf8cc, 0 0 20px #22d3ee99;
}

.btn {
  /* color: var(--accent); */
  background: #ccc;
  /* border: 2px solid var(--border); */
  /* box-shadow: 0 0 6px var(--border-glow); */

  &.btn-green {
    background: #28a845;
  }

  &.btn-yellow {
    background: #ffc107;
  }

  &.btn-red {
    background: #dc3545;
  }

  &:hover {
    background: #38BDF8;
    box-shadow: 0 0 12px #0EA5E9;
  }

  &.off {
    opacity: 0.4;
  }
}

.card {
  /* background: var(--background-1-trans); */
  backdrop-filter: blur(4px);
  /* border: 2px solid var(--border); */
  /* box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow); */
  /* text-shadow: 0 0 8px var(--border-glow); */
}

.input {
  /* color: var(--primary); */
  background: transparent;
  /* border: 2px solid var(--border); */
  /* box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow); */
  /* text-shadow: 0 0 4px var(--border-glow); */

  &:focus {
    /* box-shadow: 0 0 6px var(--border-glow), 0 0 0 4px #38BDF866, inset 0 0 6px var(--border-glow); */
  }
}

.color-input {
  appearance: none;
  width: 40px;
  min-width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  border-radius: 8px;
  cursor: pointer;
}

.select {
  /* color: var(--primary); */
  background: transparent;
  /* border: 2px solid var(--border); */
  /* box-shadow: 0 0 6px var(--border-glow), inset 0 0 6px var(--border-glow); */
  /* text-shadow: 0 0 4px var(--border-glow); */
}

.option {
  /* color: var(--accent); */
  /* background: var(--background-1); */
}

.invisible {
  opacity: 0.4;
}

.dashoffset {
  animation: dash 3s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -100;
  }
}

.dash-box::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 12px;

  background:
    linear-gradient(90deg, cyan 50%, transparent 0) repeat-x,
    linear-gradient(180deg, cyan 50%, transparent 0) repeat-y,
    linear-gradient(90deg, cyan 50%, transparent 0) repeat-x,
    linear-gradient(180deg, cyan 50%, transparent 0) repeat-y;

  background-size:
    20px 2px,
    2px 20px,
    20px 2px,
    2px 20px;

  background-position:
    0 0,
    100% 0,
    0 100%,
    0 0;

  animation: dashdiv 1.5s linear infinite;
}

@keyframes dashdiv {
  to {
    background-position:
      40px 0,
      100% 40px,
      -40px 100%,
      0 -40px;
  }
}