#root {
  width: 100%;
}

:root {
  --font:
    'Inter',
    Consolas,
    Menlo,
    Monaco,
    monospace,
    Arial;

  --gray-1: #111827;
  --gray-2: #1F2937;
  --gray-3: #374151;
  --gray-4: #5f6a7c;
  --gray-1-80: #11182780;
  --gray-2-80: #1F293780;
  --gray-3-80: #37415180;
  --gray-4-80: #5f6a7c80;
  --text-primary: #E6EDF3;
  --text-secondary: #7D8590;
  --button-primary-bg: #F0F6FC;
  --button-primary-text: #161B22;
  --button-secondary-bg: #21262D;

  --green: #52c41a;
  --green-light: #9fed78;
  --green-dark: #398712;

  --yellow: #faad14;
  --yellow-light: #fccb69;
  --yellow-dark: #966503;

  --red: #ff4d4f;
  --red-light: #ff8082;
  --red-dark: #cc0003;

  --blue: #007bff;
  --blue-light: #007bff;
  --blue-dark: #007bff;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

a {
  color: black;
  outline: none;
  text-decoration: none;
}

img {
  object-fit: cover;
  object-position: center;
}

input,
textarea,
select {
  outline: none;
  height: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease;
  font-family: var(--font);

  &:disabled {
    opacity: 0.4;
  }
}

input::placeholder {
  color: var(--text-secondary);
}

select {
  cursor: pointer;
  padding: 6px 12px;
}

button {
  cursor: pointer;
  user-select: none;
  outline: none;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.15s ease;
  font-family: var(--font);

  &:disabled {
    opacity: 0.4;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--green-light);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type='color']::-webkit-color-swatch-wrapper,
input[type='color']::-webkit-color-swatch {
  -webkit-appearance: none;
  padding: 0;
  border: none;
}

input[type='file']::-webkit-file-upload-button {
  background: var(--green);
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}

progress::-webkit-progress-bar {
  background-color: #eee;
}

progress::-webkit-progress-value {
  background-color: var(--green);
}

::selection {
  background: #007bff;
  color: white;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--green);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

video::-webkit-media-controls-play-button {
  display: none;
}

.btn {
  background: #ccc;

  &.btn-green {
    color: #fff;
    background: var(--green);
  }

  &.btn-yellow {
    color: #fff;
    background: var(--yellow);
  }

  &.btn-red {
    color: #fff;
    background: var(--red);
  }

  &.off {
    opacity: 0.4;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
