.traffic-light-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .scene-traffic-light {
        width: 300px;
        height: 300px;
        min-height: 600px;
        perspective: 600px;

        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: center;
        transition: all 2s ease;

        &.error {
            filter: drop-shadow(0 0 20px var(--red));
        }

        &.loading {
            filter: drop-shadow(0 0 20px var(--yellow));
        }

        &.success {
            filter: drop-shadow(0 0 20px var(--green));
        }

        .traffic-light {
            position: relative;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            transition: all 0.1s ease;
            animation: traffic_light_rotate 10s linear infinite;

            --LightWidth: 80px;
            --LightHeight: 20px;
            --SpaceVertical: 40px;
            --SpaceHorizontal: 30px;

            .face {
                position: absolute;
                box-sizing: border-box;
                border: 1px solid var(--gray-2);
                transition: all 1s ease, font-size 0s;

                display: flex;
                justify-content: center;
                align-items: center;

                user-select: none;
                cursor: pointer;

                &.updown-face {
                    width: calc(var(--LightWidth) + var(--SpaceHorizontal) * 2);
                    height: calc(var(--LightWidth) + var(--SpaceHorizontal) * 2);
                }

                &.special {
                    width: calc(var(--LightWidth) * 3 + var(--SpaceVertical) * 4);
                    height: calc(var(--LightWidth) + var(--SpaceHorizontal) * 2);

                    color: #a1afc540;
                    font-weight: 800;

                    &.status-face {
                        font-size: 8rem;
                    }

                    &.refresh-face {
                        font-size: 6rem;
                    }
                }

                --Angle1: 18deg;
                --Angle2: -19deg;

                &.side-face {
                    width: calc(var(--LightWidth) + var(--SpaceHorizontal) * 2);
                    height: calc(var(--LightWidth) * 3 + var(--SpaceVertical) * 4);
                }

                &.f1 {
                    /* background: linear-gradient(0deg, #242d42d8 0%, #5f6a7cd8 80%); */
                    background: linear-gradient(45deg, #111827d8 20%, #5f6a7cd8 80%);
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) translateZ(calc(var(--LightWidth) * 1.5 + var(--SpaceVertical) * 2));
                }

                &.f2 {
                    background: linear-gradient(135deg, #111827d8 20%, #5f6a7cd8 80%);
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateY(180deg) translateZ(calc(var(--LightWidth) * 1.5 + var(--SpaceVertical) * 2));
                }

                &.f3 {
                    background: linear-gradient(120deg, #111827d8 40%, #5f6a7cd8 80%);
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(0deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }

                &.f4 {
                    background: linear-gradient(-30deg, #111827d8 40%, #5f6a7cd8 80%);
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(90deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal))) rotateZ(-90deg);
                }

                &.f5 {
                    background: linear-gradient(60deg, #111827d8 40%, #5f6a7cd8 80%);
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(180deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }

                &.f6 {
                    background: linear-gradient(210deg, #111827d8 40%, #5f6a7cd8 80%);
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(270deg) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal))) rotateZ(90deg);
                }
            }

            .light {
                position: absolute;
                box-sizing: border-box;
                border: 1px solid transparent;
                transition: all 1s ease;

                display: flex;
                justify-content: center;
                align-items: center;

                user-select: none;
                cursor: pointer;

                &.updown-light {
                    width: var(--LightWidth);
                    height: var(--LightWidth);
                }

                &.side-light {
                    width: var(--LightWidth);
                    height: var(--LightHeight);
                }

                --Angle1: 18deg;
                --Angle2: -19deg;

                &.l1 {
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal)));
                }

                &.l2 {
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateX(-90deg) translateZ(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal) + var(--LightHeight)));
                }

                &.l3 {
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) translateY(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal) + var(--LightHeight) / 2)) translateZ(calc(var(--LightWidth) / 2));
                }

                &.l4 {
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateY(180deg) translateY(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal) + var(--LightHeight) / 2)) translateZ(calc(var(--LightWidth) / 2));
                }

                &.l5 {
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateY(90deg) translateY(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal) + var(--LightHeight) / 2)) translateZ(calc(var(--LightWidth) / 2));
                }

                &.l6 {
                    transform: rotateY(var(--Angle1)) rotateX(var(--Angle2)) rotateZ(calc(var(--i) * 180deg)) translateZ(calc(var(--j) * (var(--LightWidth) + var(--SpaceVertical)))) rotateY(-90deg) translateY(calc(var(--LightWidth) / 2 + var(--SpaceHorizontal) + var(--LightHeight) / 2)) translateZ(calc(var(--LightWidth) / 2));
                }

                &.active {
                    opacity: 1;

                    &.error {
                        background-color: var(--red-light);
                        border-color: var(--red);
                        box-shadow: 0 0 20px var(--red-light);
                    }

                    &.loading {
                        background-color: var(--yellow-light);
                        border-color: var(--yellow);
                        box-shadow: 0 0 20px var(--yellow-light);
                    }

                    &.success {
                        background-color: var(--green-light);
                        border-color: var(--green);
                        box-shadow: 0 0 20px var(--green-light);
                    }
                }

                &.inactive {
                    opacity: 0.2;

                    &.error {
                        background-color: var(--red);
                        border-color: var(--red-dark);
                    }

                    &.loading {
                        background-color: var(--yellow);
                        border-color: var(--yellow-dark);
                    }

                    &.success {
                        background-color: var(--green);
                        border-color: var(--green-dark);
                    }
                }
            }
        }
    }
}

@keyframes traffic_light_rotate {
    0% {
        transform: rotateX(90deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(90deg) rotateZ(360deg);
    }
}