.payment-status-container {
    .status-card {
        width: 320px;
        height: fit-content;
        margin: 100px auto 0;
        padding: 20px;
        background: #0f172a60;
        border: 2px solid #374e6e80;
        border-radius: 20px;
        box-sizing: border-box;
        text-align: center;
        transition: .15s;

        opacity: 0;
        animation: slideInUp .6s ease forwards;

        &:hover {
            border-color: #3b82f666;
            background: #3b82f620;
            box-shadow: 0 20px 50px #3b82f633;
        }

        .icon {
            position: relative;
            width: 200px;
            height: 200px;
            margin: 20px auto 40px;
            color: #fff;
            border-radius: 50%;
            font-size: 8rem;
            font-weight: bold;
            user-select: none;

            display: flex;
            justify-content: center;
            align-items: center;

            &.icon-loading {
                background: linear-gradient(135deg, #2563eb, #0891b2);
                box-shadow: 0 8px 20px #2563eb80;
            }

            &.icon-success {
                background: linear-gradient(135deg, var(--green), #0891b2);
                box-shadow: 0 8px 20px #39871280;
            }

            &.icon-fail {
                background: linear-gradient(135deg, var(--red-dark), var(--red-light));
                box-shadow: 0 8px 20px #cc000380;
            }

            span {
                align-content: center;
                margin: 0 0 20px;
            }

            /* div {
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: #ffffff80;
                transform: translate(-50%, -50%);
            }

            .div-1 {
                width: 4px;
                height: 100%;
            }

            .div-2 {
                width: 100%;
                height: 4px;
            } */

            .fa-spinner {
                animation: paymentLoading 1.5s linear infinite;
            }
        }

        .title {
            color: #fff;
            font-size: 1.25rem;
            font-weight: bold;

            &.title-success {
                margin: 0 auto 24px;
                text-shadow: 0 4px 12px #28a745;
            }

            &.title-fail {
                margin: 0 auto 24px;
                text-shadow: 0 4px 12px #dc3545;
            }
        }

        .buttons {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .btn-in-payment-status {
                width: 100%;
                color: #fff;
                background: linear-gradient(90deg, #2563eb, #0891b2);
                border-radius: 8px;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 8px 20px #0891b266;
                }

                &:disabled {
                    cursor: not-allowed;
                }
            }
        }
    }
}

@keyframes paymentLoading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}